[submodule "apps/abw-start"]
	path = apps/abw-start
	url = https://github.com/Bloggerschmidt/abw-start.git
[submodule "apps/abw-s01"]
	path = apps/abw-s01
	url = https://github.com/Bloggerschmidt/abw-s01.git
[submodule "apps/abw-s02"]
	path = apps/abw-s02
	url = https://github.com/Bloggerschmidt/abw-s02.git
[submodule "apps/abw-s03"]
	path = apps/abw-s03
	url = https://github.com/Bloggerschmidt/abw-s03.git
[submodule "apps/abw-s04"]
	path = apps/abw-s04
	url = https://github.com/Bloggerschmidt/abw-s04.git
[submodule "apps/abw-s05"]
	path = apps/abw-s05
	url = https://github.com/Bloggerschmidt/abw-s05.git
[submodule "apps/abw-s06"]
	path = apps/abw-s06
	url = https://github.com/Bloggerschmidt/abw-s06.git
[submodule "apps/abw-s07"]
	path = apps/abw-s07
	url = https://github.com/Bloggerschmidt/abw-s07.git
